@model ProductListViewModel


<h1>@Model.CurrentCategory</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <img src="@product.ImageThumbnailUrl" alt="image of the product" class="card-img-top">
                <div class="card-body">
                    <h3> CA @product.Price.ToString("C")</h3>
                    <h3 class="card-title">@product.Name</h3>
                    <p class="card-text">@product.Description</p>
                </div>
            </div>
        </div>
    }
    </div>
